body{
    font-family:"Yu Gothic";
    margin:0;
    font-weight:700;
}
h1 {
    color:red;
}
.menubar{
    display:block;
    float:left;
    height:90px;
    width:20%;
}
.header{
    position:fixed;
    display:block;
    width:100%;
    height:90px;
    /* background-color:aquamarine; */
}

.navigation {
    display:block;
    width:80%;
    height:auto;
    float:right;
    /* background-color:aquamarine; */
}

.menu_item{
    /* background-color:aquamarine; */
    list-style-type:none;
    float:right;
    width:10%;

}

.Greeting{
    padding-top:100px;
    display:block;
    height:400px;
}
 
.works{
    font-size:32px;
    text-align:center;
    padding-top:100px;
    height:400px;

}

.work_contents{
    background-color:aqua;
    height:200px;
    width:200px;
    display:inline-block;
    text-align:center;
    font-size:24px;
}

.blog{
    text-align:center;
    padding-top:100px;
    height:400px;
}
.blog_article{
    background-color:blue;
    display:inline-block;
    height:400px;
    width:200px;
}
.stopwatch{
    padding-top:150;
    text-align:center;
}

table.stopwatch{
    padding-top:150px;
}
td.stopwatch{
    text-align:center;
}